<div id="<%= dom_id article %>">
  <p>
    <strong>Title:</strong>
    <%= article.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= article.body %>
  </p>

  <p>
    <%= image_tag article.download_presigned_url, style: 'width: 320px;' %>
  </p>

</div>
