.atoms-fields {
  display: grid;
  &::after {
    content: attr(data-errors);
    color: var(--color-danger);
    font-size: .8em;
    white-space: pre-wrap;
  }

  .label {
    font-weight: bold;
    &.required {
      &::after {
        content: " 必須";
        color: var(--color-danger);
        font-size: .8em;
      }
    }
  }

  .field {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: .25em .5em;
    width: 100%;

    &.invalid {
      border-color: var(--color-danger);
    }
  }

  .atoms-fields-text_area {
    resize: vertical;
  }
}